@media screen and (max-width: 780px){
    body.show-menu{
         position: fixed;
         height: 100vh;
         .app-wrap.main .app-container .header .nav{
            left:0;
            transition:all .5s 0s ease;
        }
    }
    .app-wrap.main{
        .app-container{
            .header{
                position: relative;
                .menu-btn{
                    position: absolute;
                    display: block;
                    left: 80px;
                    top:70px;
                }
                .close-btn{
                    position: absolute;
                    display: block;
                    right: 120px;
                    top:70px;
                    color: rgba(255, 255, 255, 0.781);
                }
                .nav{
                    position: absolute;
                    left: -100%;
                    top:0;
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(74, 122, 90, 0.767);
                    z-index: 5;
                    .items{ 
                        display: block;
                        padding: 200px 70px;
                        li{
                            padding: 20px 5px;
                        }
                        a{
                            color: rgb(255, 255, 255);
                            font-size: 50px;
                            display: inline-block;
                            width: 100%;
                            text-align: center;
                            box-sizing: border-box;
                            &:hover{
                                background-color: rgba(220, 220, 220, 0.637);
                                color: rgb(12, 109, 45);
                                border-radius: 20px;
                            }
                        }
                    }
                }
              
              
            }

            .about{
                height: 500px;
                .title{
                    h1{
                        font-size: 70px;
                    }
                    h3{
                        font-size: 40px;
                    }
                    P{
                        font-size: 30px;
                        letter-spacing:5px;
                    }
                    .btn{
                        a{
                         font-size: 30px;
                        }
                    }
                }

            }


            .content{
                .title{
                    h1{
                        font-size: 70px;
                    }
                    P{
                        font-size: 40px;
                    }
                }
                .row{
                    flex-direction: column;
                    align-items: center;
                    .item{
                        width: 500px;
                        height:500px;
                        margin: 10px 0;
                        .pic{
                            width: 400px;
                            height: 400px;
                            left:50px;
                        }
                        P{
                            font-size: 40px;
                        }
                    }
    
                }
                .btn{
                    a{
                        font-size: 30px;
                    }
                }
            }

            .content-1{
                .title{
                    h1{
                        font-size: 70px;
                    }
                    P{
                        font-size: 40px;
                    }
                }
                .row{
                    flex-direction: column;
                    align-items: center;
                    .item{
                        width: 600px;
                        height:500px;
                        .pic{
                            width: 400px;
                            height: 400px;
                        }
                    }
    
                }
                .btn{
                    padding: 140px 0;
                    a{
                        font-size: 30px;
                    }
                }
            }

            .footer{
                font-size: 30px;
                padding: 10px 10px;
            }

        }

       

 

    }

}

@media screen and (max-width: 480px){
    .app-wrap.main{
        .app-container{
            .header{
                .menu-btn{
                    left: 80px;
                    top:80px;
                }
                .close-btn{
                    right: 120px;
                    top:70px;
                }
                .logo{
                    top:20px;
                    right: 5px;
                }
                .nav{
                    .items{
                        padding: 200px 0;
                    }
                }
                img{
                    width: 70%;
                }

            }
            .about{
                .title{
                    h1{
                        font-size: 50px;
                    }
                    h3{
                        font-size: 30px;
                    }
                }
            }
            .content{
               .title{
                h1{
                    font-size: 50px;
                }
                p{
                    font-size: 35px;
                    letter-spacing:8px;
                }
               }
                .row{
                    .item{
                        width: 100%;
                        .pic{
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }

            .content-1{
                .title{
                    h1{   
                        font-size: 50px;
                        letter-spacing:0;
                    }
                    p{
                        font-size: 50px;
                        letter-spacing:0;
                    }
                   }
                .row{
                    .item{
                        width: 100%;
                
                    }
                }
            }
        }
    }


}


@media screen and (max-width: 320px){
    .app-wrap.main{
        .app-container{
            .header{
                height: 150px;
                .menu-btn{
                    left: 50px;
                    top:50px;
                }
                .close-btn{
                    right: 70px;
                    top:90px;
                }
                .logo{
                    top:40px;
                    img{
                        width: 70%;
                    }
                }
                .nav{
                    .items{
                        padding: 160px 0;
                        a{
                            font-size: 35px;
                            padding: 0;
                        }
                    }
                }
            }
            .about{
                .title{
                    .btn{
                        padding: 40px 0;
                    }
                }
            }

            .content-1{
                .row{
                    .item{
                        padding: 0;
                        height: 100%;
                    }
                }
                .btn{
                    padding: 30px 0 80px 0;
                }
            }

        }
    }

}



